# Class 5 - Dataframes

Let's enable multiple outputs.

In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

Let's get the dataset for todays class and enter Westeros ([Source](https://www.kaggle.com/mylesoneill/game-of-thrones)).

In [78]:
import pandas as pd
url_header = 'https://raw.githubusercontent.com/mschermann/msis2802winter2018classes/master/'
battles = pd.read_csv(url_header + 'got_battles.csv', index_col=0)
deaths = pd.read_csv(url_header + 'got_character-deaths.csv')

In [77]:
battles.index.unique()

Int64Index([298, 299, 300], dtype='int64', name='year')

In [71]:
battles.describe()

,year,battle_number,defender_3,defender_4,major_death,major_capture,attacker_size,defender_size,summer
count,38.000000,38.000000,0.0,0.0,37.000000,37.000000,24.000000,19.000000,37.000000
mean,299.105263,19.500000,NaN,NaN,0.351351,0.297297,9942.541667,6428.157895,0.702703
std,0.689280,11.113055,NaN,NaN,0.483978,0.463373,20283.092065,6225.182106,0.463373
min,298.000000,1.000000,NaN,NaN,0.000000,0.000000,20.000000,100.000000,0.000000
25%,299.000000,10.250000,NaN,NaN,0.000000,0.000000,1375.000000,1070.000000,0.000000
50%,299.000000,19.500000,NaN,NaN,0.000000,0.000000,4000.000000,6000.000000,1.000000
75%,300.000000,28.750000,NaN,NaN,1.000000,1.000000,8250.000000,10000.000000,1.000000
max,300.000000,38.000000,NaN,NaN,1.000000,1.000000,100000.000000,20000.000000,1.000000

In [72]:
battles.head()

,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,defender_2,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
name,,,,,,,,,,,,,,,,,,,,,
Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,NaN,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,NaN,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,NaN,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,NaN,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,NaN,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [73]:
battles.tail()

,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,defender_2,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
name,,,,,,,,,,,,,,,,,,,,,
Second Seige of Storm's End,300,34,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,NaN,NaN,NaN,Baratheon,NaN,...,0.0,0.0,NaN,200.0,"Mace Tyrell, Mathis Rowan",Gilbert Farring,0.0,Storm's End,The Stormlands,NaN
Siege of Dragonstone,300,35,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,NaN,NaN,NaN,Baratheon,NaN,...,0.0,0.0,2000.0,NaN,"Loras Tyrell, Raxter Redwyne",Rolland Storm,0.0,Dragonstone,The Stormlands,NaN
Siege of Riverrun,300,36,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Frey,NaN,NaN,Tully,NaN,...,0.0,0.0,3000.0,NaN,"Daven Lannister, Ryman Fey, Jaime Lannister",Brynden Tully,0.0,Riverrun,The Riverlands,NaN
Siege of Raventree,300,37,Joffrey/Tommen Baratheon,Robb Stark,Bracken,Lannister,NaN,NaN,Blackwood,NaN,...,0.0,1.0,1500.0,NaN,"Jonos Bracken, Jaime Lannister",Tytos Blackwood,0.0,Raventree,The Riverlands,NaN
Siege of Winterfell,300,38,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,Karstark,Mormont,Glover,Bolton,Frey,...,NaN,NaN,5000.0,8000.0,Stannis Baratheon,Roose Bolton,0.0,Winterfell,The North,NaN

In [74]:
battles.columns

Index(['year', 'battle_number', 'attacker_king', 'defender_king', 'attacker_1',
       'attacker_2', 'attacker_3', 'attacker_4', 'defender_1', 'defender_2',
       'defender_3', 'defender_4', 'attacker_outcome', 'battle_type',
       'major_death', 'major_capture', 'attacker_size', 'defender_size',
       'attacker_commander', 'defender_commander', 'summer', 'location',
       'region', 'note'],
      dtype='object')

In [85]:
battles.iloc[0,4:8]

attacker_1    Lannister
attacker_2          NaN
attacker_3          NaN
attacker_4          NaN
Name: Battle of the Golden Tooth, dtype: object

In [80]:
battles.iloc[0]

year                                       298
battle_number                                1
attacker_king         Joffrey/Tommen Baratheon
defender_king                       Robb Stark
attacker_1                           Lannister
attacker_2                                 NaN
attacker_3                                 NaN
attacker_4                                 NaN
defender_1                               Tully
defender_2                                 NaN
defender_3                                 NaN
defender_4                                 NaN
attacker_outcome                           win
battle_type                     pitched battle
major_death                                  1
major_capture                                0
attacker_size                            15000
defender_size                             4000
attacker_commander             Jaime Lannister
defender_commander        Clement Piper, Vance
summer                                       1
location                          Golden Tooth
region                         The Westerlands
note                                       NaN
Name: Battle of the Golden Tooth, dtype: object

In [86]:
battles.iloc[:,2]

name
Battle of the Golden Tooth                              Joffrey/Tommen Baratheon
Battle at the Mummer's Ford                             Joffrey/Tommen Baratheon
Battle of Riverrun                                      Joffrey/Tommen Baratheon
Battle of the Green Fork                                              Robb Stark
Battle of the Whispering Wood                                         Robb Stark
Battle of the Camps                                                   Robb Stark
Sack of Darry                                           Joffrey/Tommen Baratheon
Battle of Moat Cailin                                        Balon/Euron Greyjoy
Battle of Deepwood Motte                                     Balon/Euron Greyjoy
Battle of the Stony Shore                                    Balon/Euron Greyjoy
Battle of Torrhen's Square                                            Robb Stark
Battle of Winterfell                                         Balon/Euron Greyjoy
Sack of Torrhen's Square                                     Balon/Euron Greyjoy
Sack of Winterfell                                      Joffrey/Tommen Baratheon
Battle of Oxcross                                                     Robb Stark
Siege of Storm's End                                           Stannis Baratheon
Battle of the Fords                                     Joffrey/Tommen Baratheon
Sack of Harrenhal                                                     Robb Stark
Battle of the Crag                                                    Robb Stark
Battle of the Blackwater                                       Stannis Baratheon
Siege of Darry                                                        Robb Stark
Battle of Duskendale                                                  Robb Stark
Battle of the Burning Septry                                                 NaN
Battle of the Ruby Ford                                 Joffrey/Tommen Baratheon
Retaking of Harrenhal                                   Joffrey/Tommen Baratheon
The Red Wedding                                         Joffrey/Tommen Baratheon
Siege of Seagard                                                      Robb Stark
Battle of Castle Black                                         Stannis Baratheon
Fall of Moat Cailin                                     Joffrey/Tommen Baratheon
Sack of Saltpans                                                             NaN
Retaking of Deepwood Motte                                     Stannis Baratheon
Battle of the Shield Islands                                 Balon/Euron Greyjoy
Invasion of Ryamsport, Vinetown, and Starfish Harbor         Balon/Euron Greyjoy
Second Seige of Storm's End                             Joffrey/Tommen Baratheon
Siege of Dragonstone                                    Joffrey/Tommen Baratheon
Siege of Riverrun                                       Joffrey/Tommen Baratheon
Siege of Raventree                                      Joffrey/Tommen Baratheon
Siege of Winterfell                                            Stannis Baratheon
Name: attacker_king, dtype: object

In [88]:
battles.iloc[1:4,4:6]

                            attacker_1 attacker_2
name
Battle at the Mummer's Ford  Lannister        NaN
Battle of Riverrun           Lannister        NaN
Battle of the Green Fork         Stark        NaN

In [89]:
battles.iloc[2,1]

3

In [98]:
battles.loc[:,'attacker_outcome']

name
Battle of the Golden Tooth                               win
Battle at the Mummer's Ford                              win
Battle of Riverrun                                       win
Battle of the Green Fork                                loss
Battle of the Whispering Wood                            win
Battle of the Camps                                      win
Sack of Darry                                            win
Battle of Moat Cailin                                    win
Battle of Deepwood Motte                                 win
Battle of the Stony Shore                                win
Battle of Torrhen's Square                               win
Battle of Winterfell                                     win
Sack of Torrhen's Square                                 win
Sack of Winterfell                                       win
Battle of Oxcross                                        win
Siege of Storm's End                                     win
Battle of the Fords                                     loss
Sack of Harrenhal                                        win
Battle of the Crag                                       win
Battle of the Blackwater                                loss
Siege of Darry                                           win
Battle of Duskendale                                    loss
Battle of the Burning Septry                             win
Battle of the Ruby Ford                                  win
Retaking of Harrenhal                                    win
The Red Wedding                                          win
Siege of Seagard                                         win
Battle of Castle Black                                  loss
Fall of Moat Cailin                                      win
Sack of Saltpans                                         win
Retaking of Deepwood Motte                               win
Battle of the Shield Islands                             win
Invasion of Ryamsport, Vinetown, and Starfish Harbor     win
Second Seige of Storm's End                              win
Siege of Dragonstone                                     win
Siege of Riverrun                                        win
Siege of Raventree                                       win
Siege of Winterfell                                      NaN
Name: attacker_outcome, dtype: object

In [110]:
battles['attacker_outcome'][0]

'win'

In [109]:
battles.loc[battles.index >= 'S','attacker_1':'attacker_4']

                                   attacker_1 attacker_2 attacker_3 attacker_4
name
Sack of Darry                       Lannister        NaN        NaN        NaN
Sack of Torrhen's Square              Greyjoy        NaN        NaN        NaN
Sack of Winterfell                     Bolton    Greyjoy        NaN        NaN
Siege of Storm's End                Baratheon        NaN        NaN        NaN
Sack of Harrenhal                       Stark        NaN        NaN        NaN
Siege of Darry                          Darry        NaN        NaN        NaN
The Red Wedding                          Frey     Bolton        NaN        NaN
Siege of Seagard                         Frey        NaN        NaN        NaN
Sack of Saltpans             Brave Companions        NaN        NaN        NaN
Second Seige of Storm's End         Baratheon        NaN        NaN        NaN
Siege of Dragonstone                Baratheon        NaN        NaN        NaN
Siege of Riverrun                   Lannister       Frey        NaN        NaN
Siege of Raventree                    Bracken  Lannister        NaN        NaN
Siege of Winterfell                 Baratheon   Karstark    Mormont     Glover

In [108]:
battles.iloc[0,0:5:-1]

battle_number      1
year             298
Name: Battle of the Golden Tooth, dtype: object