# Practice Exam

## Cleaning

In [12]:
import pandas as pd

In [13]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [126]:
pd.options.display.float_format = '{:.2f}'.format

In [22]:
df = pd.read_csv('museums.csv').rename(columns=lambda x: x.strip())

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (9,14,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [63]:
my_df = df[['Museum ID','Museum Name', \
    'City (Administrative Location)',\
    'State (Administrative Location)',\
    'Zip Code (Administrative Location)',\
    'Income',
    'Revenue']]\
.rename(columns={'Museum ID': 'museum_id',\
                'Museum Name': 'museum_name',\
                'City (Administrative Location)': 'museum_city',\
                'State (Administrative Location)': 'museum_state',\
                'Zip Code (Administrative Location)': 'museum_zip',\
                'Income': 'income',
                'Revenue': 'revenue'})

In [72]:
my_df = my_df[my_df.income.notna()]
my_df = my_df[my_df.revenue.notna()]
my_df = my_df[~(my_df.income==my_df.revenue)]

In [136]:
exam = my_df.sample(n=1000, random_state=123)

In [138]:
exam.to_csv('test_exam.csv')

## Questions

### Question 1

In [125]:
exam[exam['museum_state']=='AR']['museum_id'].count()

5

### Question 2

In [127]:
exam.groupby('museum_state')['revenue'].mean().nlargest(5)

museum_state
DC   535056961.00
CT   265766464.60
GA   229582011.12
TN   195548028.82
MA   183627611.48
Name: revenue, dtype: float64

### Question 3

In [128]:
exam.describe()

          museum_id         income       revenue
count       1000.00        1000.00       1000.00
mean  8403788129.19   205417974.00   52516644.67
std      2615057.13  2837289045.93  364501471.85
min   8400100213.00          44.00     -53294.00
25%   8401800702.75       98010.00      73651.00
50%   8403600520.50      333360.00     246870.50
75%   8404801006.75     2669963.25    1755428.00
max   8409504380.00 83181439574.00 5840349457.00

In [140]:
exam['profit'] = exam['income']*.1

### Question 4

In [141]:
exam['profit'].describe()

count         1000.00
mean      20541797.40
std      283728904.59
min              4.40
25%           9801.00
50%          33336.00
75%         266996.32
max     8318143957.40
Name: profit, dtype: float64

### Question 5

In [142]:
exam.groupby('museum_state')['profit'].mean().nlargest(1)

museum_state
MA   258033170.99
Name: profit, dtype: float64

In [143]:
exam[exam['museum_state']=='MA'].count()

museum_id       33
museum_name     33
museum_city     33
museum_state    33
museum_zip      33
income          33
revenue         33
profit          33
dtype: int64

In [132]:
len(exam[exam['museum_state']=='MA'])

33

better:

In [144]:
exam[exam['museum_state'] == exam.groupby('museum_state')['profit'].mean().nlargest(1).index[0]]['museum_id'].count()

33

### Question 6

In [133]:
len(exam[(exam['museum_city'].str.startswith('SAN')) & (exam['museum_name'].str.contains('GALLERY'))])

4

### Question 7

In [134]:
exam[exam['museum_name'].str.contains('HALL OF FAME')]['profit'].mean() < exam[exam['museum_name'].str.contains('PARK')]['profit'].mean()

True

### Question 8

In [149]:
spread = exam.groupby('museum_state')['profit'].agg(['min','max'])
spread['spread'] = spread['max']-spread['min']
spread['spread'].nsmallest(1)

museum_state
DE   8145.80
Name: spread, dtype: float64